src/conf/xml-resources/web-service-references/ServicioGestionBancaria/wsdl/localhost_8080/GestionBancaria/ServicioGestionBancaria.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Data/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Data/" name="ServicioGestionBancaria">
<types>
<xsd:schema>
<xsd:import namespace="http://Data/" schemaLocation="http://localhost:8080/GestionBancaria/ServicioGestionBancaria?xsd=1"/>
</xsd:schema>
</types>
<message name="addCorrientes">
<part name="parameters" element="tns:addCorrientes"/>
</message>
<message name="addCorrientesResponse">
<part name="parameters" element="tns:addCorrientesResponse"/>
</message>
<message name="listarCuentas">
<part name="parameters" element="tns:listarCuentas"/>
</message>
<message name="listarCuentasResponse">
<part name="parameters" element="tns:listarCuentasResponse"/>
</message>
<message name="addAhorros">
<part name="parameters" element="tns:addAhorros"/>
</message>
<message name="addAhorrosResponse">
<part name="parameters" element="tns:addAhorrosResponse"/>
</message>
<message name="addCheques">
<part name="parameters" element="tns:addCheques"/>
</message>
<message name="addChequesResponse">
<part name="parameters" element="tns:addChequesResponse"/>
</message>
<message name="retirar">
<part name="parameters" element="tns:retirar"/>
</message>
<message name="retirarResponse">
<part name="parameters" element="tns:retirarResponse"/>
</message>
<message name="depositar">
<part name="parameters" element="tns:depositar"/>
</message>
<message name="depositarResponse">
<part name="parameters" element="tns:depositarResponse"/>
</message>
<message name="balance">
<part name="parameters" element="tns:balance"/>
</message>
<message name="balanceResponse">
<part name="parameters" element="tns:balanceResponse"/>
</message>
<portType name="ServicioGestionBancaria">
<operation name="addCorrientes">
<input wsam:Action="http://Data/ServicioGestionBancaria/addCorrientesRequest" message="tns:addCorrientes"/>
<output wsam:Action="http://Data/ServicioGestionBancaria/addCorrientesResponse" message="tns:addCorrientesResponse"/>
</operation>
<operation name="listarCuentas">
<input wsam:Action="http://Data/ServicioGestionBancaria/listarCuentasRequest" message="tns:listarCuentas"/>
<output wsam:Action="http://Data/ServicioGestionBancaria/listarCuentasResponse" message="tns:listarCuentasResponse"/>
</operation>
<operation name="addAhorros">
<input wsam:Action="http://Data/ServicioGestionBancaria/addAhorrosRequest" message="tns:addAhorros"/>
<output wsam:Action="http://Data/ServicioGestionBancaria/addAhorrosResponse" message="tns:addAhorrosResponse"/>
</operation>
<operation name="addCheques">
<input wsam:Action="http://Data/ServicioGestionBancaria/addChequesRequest" message="tns:addCheques"/>
<output wsam:Action="http://Data/ServicioGestionBancaria/addChequesResponse" message="tns:addChequesResponse"/>
</operation>
<operation name="retirar">
<input wsam:Action="http://Data/ServicioGestionBancaria/retirarRequest" message="tns:retirar"/>
<output wsam:Action="http://Data/ServicioGestionBancaria/retirarResponse" message="tns:retirarResponse"/>
</operation>
<operation name="depositar">
<input wsam:Action="http://Data/ServicioGestionBancaria/depositarRequest" message="tns:depositar"/>
<output wsam:Action="http://Data/ServicioGestionBancaria/depositarResponse" message="tns:depositarResponse"/>
</operation>
<operation name="balance">
<input wsam:Action="http://Data/ServicioGestionBancaria/balanceRequest" message="tns:balance"/>
<output wsam:Action="http://Data/ServicioGestionBancaria/balanceResponse" message="tns:balanceResponse"/>
</operation>
</portType>
<binding name="ServicioGestionBancariaPortBinding" type="tns:ServicioGestionBancaria">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addCorrientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCuentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAhorros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCheques">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retirar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="depositar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="balance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioGestionBancaria">
<port name="ServicioGestionBancariaPort" binding="tns:ServicioGestionBancariaPortBinding">
<soap:address location="http://localhost:8080/GestionBancaria/ServicioGestionBancaria"/>
</port>
</service>
</definitions>